<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>KOALA Cloud Manager</title>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
<link rel="apple-touch-icon-precomposed" href="custom_icon_precomposed.png">
<link rel="SHORTCUT ICON" href="favicon.ico">

<script type="text/javascript">
if((navigator.userAgent.match(/iPhone/i)) || 
                (navigator.userAgent.match(/Android/i)) ||
                (navigator.userAgent.match(/iPod/i))) 
        { 
        location.replace("/?mobile=true");
    }
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18085909-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body {{ bodycommand|safe }}>

<div id="head">

<table width="100%" border="0">
<tr>
<td width="120"><h3>
<a href="{{ url|safe }}">{{ url_linktext|safe }}</a></h3></td>
<td ALIGN="center">{{ zonen_liste|safe }}</td>
<td rowspan="2" ALIGN="right" width="120">
<a href="/sprache?lang=de{{ path|safe }}" title="Deutsch"><img src="bilder/german.png" width="37" height="20" border="0" alt="Deutsch"></a>
<a href="/sprache?lang=en{{ path|safe }}" title="Englisch"><img src="bilder/english.png" width="37" height="20" border="0" alt="English"></a>
</td>
</tr>
<tr>
<td colspan="2"><h3>Region: {{ zone|safe }} {{ zone_amazon|safe }}</h3></td>
</tr>
</table>
</div>



{{ javascript_funktion|safe }}

  <div id="navigationsBar">
  <div id="innerNavigationsBar">
  <h3>
{{ navigations_bar|safe }}
  </h3>
  </div>
  </div>


  <div id="mainContent">
<!-- 	<div id="sideBarContent"> -->

  <div id="innerMainContent">
	{% block sideBarContent %}
	{%  endblock %}

  </div>
<!--         </div> -->
  </div>
</body>
</html>
