{% extends "base.html" %}
{% block sideBarContent %}

{{ neues_fenster|safe }}

{{ input_error_message|safe }}

<form action="/schluesselerzeugen" method="post" accept-charset="utf-8">
<input type="hidden" name="mobile" value="{{ mobile|safe }}">
<table border="0" cellspacing="2" cellpadding="2">
<tr>
<td>
<input name="keyname" type="text" size="25" maxlength="25">
</td>
</tr>
<tr>
<td>
<input type="submit" value="create new keypair">
</td>
</tr>
</table>
</form>

<p>&nbsp;</p>

{{ new_keypair_secretkey_download_link|safe }}

{{ new_keypair_secretkey|safe }}

<b>Your keypairs inside the region {{ zone|safe }} {{ zone_amazon|safe }}</b>

<p>&nbsp;</p>

{{ keytabelle|safe }}

<p>&nbsp;</p>

{{ secretkey_memcache|safe }}

{% endblock %}
