{% extends "base.html" %}
{% block sideBarContent %}

<center>

<table width="95%" border="0">
<tr>
<td align="center"><h1>Welcome to KOALA</h1></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA is a web-based application, designed to help you working with your AWS compatible
cloud services and infrastructures (IaaS). The <a style="color:blue" href="http://aws.amazon.com">Amazon AWS</a>
public cloud and private cloud services based of <a style="color:blue" href="http://open.eucalyptus.com">Eucalyptus</a>,
<a style="color:blue" href="http://opennebula.org">OpenNebula</a> or 
<a style="color:blue" href="http://www.nimbusproject.org">Nimbus</a> are supported.
The stoage services <a style="color:blue" href="http://code.google.com/apis/storage/">Google Storage</a>, <a style="color:blue" href="http://www.dunkel.de/s3/">Dunkel Cloud Storage</a>
and <a style="color:blue" href="http://www.hosteurope.de">Host Europe</a> Cloud Storage can be used with KOALA too</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA itself is able to run inside the public cloud
platforms (PaaS) <a style="color:blue" href="http://appengine.google.com">Google App Engine</a>
and the private cloud PaaS <a style="color:blue" href="http://appscale.cs.ucsb.edu">AppScale</a>
and <a style="color:blue" href="http://code.google.com/p/typhoonae/">typhoonAE</a></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">The source code and documentation is available at
the <a style="color:blue" href="http://code.google.com/p/koalacloud/">KOALA project site</a></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Please send improvement suggestion, comments and bug reports to 
<tt><a style="color:blue" href="mailto:koalacloudmanager@googlemail.com">koalacloudmanager@googlemail.com</a></tt></td>
</tr>
<!--
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA controls the Elastic Computing Cloud (<a style="color:blue" href="http://aws.amazon.com/ec2/">EC2</a>), helps interacting with Simple Storage Service (<a style="color:blue" href="http://aws.amazon.com/s3/">S3</a>) and Elastic Block Store (<a style="color:blue" href="http://aws.amazon.com/ebs/">EBS</a>) storage resources and supports Elastic Load Balancing (<a style="color:blue" href="http://aws.amazon.com/elasticloadbalancing/">ELB</a>)</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA is not a marketplace for cloud resources</td>
</tr>
-->
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center" colspan="3"><img src="bilder/KOALA_zusammenhang_kompakt5.png" width="749" height="438" border="0" alt="KOALA in the Cloud"></td>
</tr>
</table>

</center>

<!--
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
-->

<!--<center>
<a href="http://appengine.google.com" style="text-decoration: none"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" border="0"></a>
&nbsp;
<a href="http://validator.w3.org/check?uri=referer"><img src="bilder/valid-html401.png" alt="Valid HTML 4.01 Transitional" border="0" height="31" width="88"></a>
</center>-->

{% endblock %}
