{% extends "base.html" %}
{% block sideBarContent %}

Sind sie ganz sicher, dass Sie <b>alle</b> Ihre Keys im Bucket <b>{{ bucketname|safe }}</b> l&ouml;schen wollen?

<table border="0" cellspacing="5" cellpadding="5">
<tr>
<td align="center">
<form action="/alle_keys_loeschen_definitiv" method="get">
<input type="hidden" name="bucket" value="{{ bucketname|safe }}">
<input type="hidden" name="s3_ansicht" value="{{ s3_ansicht|safe }}">
<input type="submit" value="Ja! Alle Keys l&ouml;schen">
</form>
</td>
<td align="center">
<form action="/bucket_inhalt_pure" method="get">
<input type="hidden" name="bucket" value="{{ bucketname|safe }}">
<input type="hidden" name="s3_ansicht" value="{{ s3_ansicht|safe }}">
<input type="submit" value="Nein">
</form>
</td>
</tr>
</table>

{% endblock %}
