{% extends "base.html" %}
{% block sideBarContent %}

<center>

<table width="95%" border="0">
<tr>
<td align="center"><h1>Willkommen bei KOALA</h1></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA ist eine internet-basierte Anwendung,
um AWS-kompatible Cloud-Dienste zu steuern.
Die Public Cloud <a style="color:blue" href="http://aws.amazon.com">Amazon AWS</a> und
Private Cloud Dienste von <a style="color:blue" href="http://open.eucalyptus.com">Eucalyptus</a>,
<a style="color:blue" href="http://opennebula.org">OpenNebula</a> oder 
<a style="color:blue" href="http://www.nimbusproject.org">Nimbus</a> werden unterst&uuml;tzt. 
Auch die Speicherdienste <a style="color:blue" href="http://code.google.com/apis/storage/">Google Storage</a>, <a style="color:blue" href="http://www.dunkel.de/s3/">Dunkel Cloud Storage</a>
und <a style="color:blue" href="http://www.hosteurope.de">Host Europe</a> Cloud Storage können mit KOALA bedient werden</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA selbst l&auml;uft innerhalb der Public Cloud Plattform 
(PaaS) <a style="color:blue" href="http://appengine.google.com">Google App Engine</a> und 
den Private Cloud PaaS <a style="color:blue" href="http://appscale.cs.ucsb.edu">AppScale</a>
und <a style="color:blue" href="http://code.google.com/p/typhoonae/">typhoonAE</a></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Quellcode und Dokumentation sind auf der
<a style="color:blue" href="http://code.google.com/p/koalacloud/">KOALA Projektseite</a> verf&uuml;gbar</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">Verbesserungsvorschl&auml;ge, Kommentare und Fehlermeldungen bitte
an <tt><a style="color:blue" href="mailto:koalacloudmanager@googlemail.com">koalacloudmanager@googlemail.com</a></tt></td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA steuert die Elastic Computing Cloud 
(<a style="color:blue" href="http://aws.amazon.com/ec2/">EC2</a>) und unterst&uuml;tzt 
auch die Arbeit mit Simple Storage Service (<a style="color:blue" href="http://aws.amazon.com/s3/">S3</a>) 
und Elastic Block Store (<a style="color:blue" href="http://aws.amazon.com/ebs/">EBS</a>) 
Speicher-Ressourcen und mit elastischer Lastverteilung via Elastic Load 
Balancing (<a style="color:blue" href="http://aws.amazon.com/elasticloadbalancing/">ELB</a>)</td>
</tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA ist kein Marktplatz f&uuml;r Cloud-Ressourcen</td>
</tr>

</table>

</center>

{% endblock %}

