{% extends "base.html" %}
{% block sideBarContent %}

{{ input_error_message|safe }}

<form action="/volumeerzeugen" method="post" accept-charset="utf-8">
<input type="hidden" name="mobile" value="{{ mobile|safe }}">
<table border="0" cellspacing="0" cellpadding="5">
<tr>
<td>Gr&ouml;&szlig;e:</td>
<td><input name="groesse" type="text" size="3" maxlength="3"></td>
<td align="left">
    <select name="GB_oder_TB" size="1">
      <option selected="selected">GB</option>
      <option>TB</option>
    </select><br>
</td>
</tr>
<tr>
<td>
Verf&uuml;gbarkeitszone:
</td>
<td colspan="2" align="left">
<select name="zone" size="1">
{{ zonen_in_der_region|safe }}
</select><br>
</td>
</tr>
<tr>
<td colspan="3"> 
<input type="submit" value="Neues EBS Volumen anlegen">
</td>
</tr>
</table>
</form>

<p>&nbsp;</p>

<b>Ihre EBS Volumen</b>

<p>&nbsp;</p>

{{ volumestabelle|safe }}

{{ alle_volumes_loeschen_button|safe }}

{% endblock %}
